name: Deploy Web App (PM2)

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.19.3'

    - name: Install dependencies
      run: npm install

    - name: Build project
      run: npm run build
      env:
        NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        NEXT_PUBLIC_APP_URL: ${{ secrets.NEXT_PUBLIC_APP_URL }}

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.2
      with:
        ssh-private-key: ${{ secrets.DEPLOY_KEY }}

    - name: Copy project to server
      uses: appleboy/scp-action@master
      with:
        host: ec2-18-227-13-138.us-east-2.compute.amazonaws.com
        username: ubuntu
        key: ${{ secrets.DEPLOY_KEY }}
        source: "."   # full repo
        target: "/home/ubuntu/32-beatwriters-web"
        strip_components: 0

    - name: SSH - Install, Build, Restart PM2 App
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@ec2-18-227-13-138.us-east-2.compute.amazonaws.com << 'EOF'
          cd /home/ubuntu/32-beatwriters-web
          npm install
          npm run build
          pm2 restart web-app || pm2 start npm --name web-app -- start
        EOF
